body {
  font-family: Poppins, sans-serif;
  background-color: hsl(0, 0%, 94%);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 800px) {
  body {
    padding-left: 90px;
  }
}