body {
  font-family: Poppins, sans-serif;
  background-color: hsl(0, 0%, 94%);
  overflow: hidden;
  margin-top: 85px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Hides the spinner in Firefox */
}

@media (min-width: 480px) {
  body {
    margin-top: 0;
  }
}

@media (min-width: 800px) {
  body {
    padding-left: 90px;
    margin-top: 10px;
  }
}