.age-calculator {
  margin: auto;
  background-color:hsl(0, 0%, 100%);
  width: 840px;
  height: 650px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 200px;
}

.age-calculator__input-group {
  display: flex;
  align-items:center;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  column-gap: 31px;
  margin-right: 20px;
  margin-left: 57px;
  padding-bottom: 20px;
  width: 700px;
  height: 185px;
  position: relative;
}

.age-calculator__input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 7px;
  margin-top: 28px;
}

.age-calculator__label {
  color: hsl(0, 1%, 44%);
  font-size: 14px;
  font-weight: bold;
}

.age-calculator__input {
  font-size: 30px;
  font-weight: 800;
  width: 110px;
  padding: 15px 24px;
  border-radius: 7px;
  border: 1px solid rgb(230, 230, 230);
  outline: none;
}

.age-calculator__input::placeholder {
  color: hsl(0, 0%, 54%)
}

.age-calculator__input:focus {
  outline: 1px solid rgb(192, 144, 255);
}

.age-calculator__error-message {
  position: absolute;
  color: hsl(0, 100%, 67%);
  font-style: italic;
  margin-top: 5px;
  margin-left: 2px;
  font-size: 11px;
  pointer-events: none;
  opacity: 0;
}

.error .age-calculator__error-message {
  opacity: 1;
}

.error .age-calculator__label {
  color: hsl(0, 100%, 67%);
}

.error .age-calculator__input {
  border: 1px solid hsl(0, 100%, 67%);
}

.error .age-calculator__input:focus {
  outline: none;
}

.age-calculator__button {
  background-color: hsl(259, 100%, 65%);
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -47px;
  right: -26px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15); /* Shadow to create the 3D effect */
  transition: all 0.15s ease-in-out; /* Smooth transition for the click effect */
}

.age-calculator__button:hover {
  background-color: hsl(0, 0%, 8%);
}

.age-calculator__button:active {
  background-color: hsl(0, 0%, 8%);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15); /* Adjusted shadow to give the pressed effect */
  transform: translateY(4px); /* Moves the button down when clicked */
}

.age-calculator__button-icon {
  object-fit: cover;
}

.age-calculator__results {
  display: block;
  margin-top: 29px;
}

.age-calculator__result {
  display: flex;
  align-items: center;
  column-gap: 13px;
  margin-left: 50px;
}

.age-calculator__result-value {
  color: hsl(259, 100%, 65%);
  font-size: 89px;
  font-style: italic;
  font-weight: 950;
  line-height: 1.4;
}

.age-calculator__result-label {
  color: hsl(0, 0%, 8%);
  font-size: 100px;
  font-style: italic;
  font-weight: 950;
  line-height: 0;
}

.attribution { 
  font-size: 11px; text-align: center;
  margin-top: 20px;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}